* {
    background-color: #FFFFEE;
    color: #eb6424 ;
}

#sidebar {
    background-image: url(./images/youradd.png) ;
    background-position: center;
    background-size: contain;
}


<<<<<<< HEAD

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .navbar, .navbar-end, .navbar-menu, .navbar-start {
        display: flex !important;
    }

}
=======
>>>>>>> develop


